// @media (max-width: 1200px){
// 	footer{
// 		.footer-menu{
// 			-webkit-box-orient: horizontal;
// 		    -webkit-box-direction: normal;
// 		    -ms-flex-flow: row wrap;
// 		    flex-flow: row wrap;
// 		}
// 	}
// }

// @media(max-width:1199px){
// 	.list-item{
// 		.recomm-homepage{
// 			.images-item{
// 				padding: 18px 0px 15px 22px;
// 			}
// 		}
// 	}
// }