/*RESPONSIVE*/

@media screen and (max-width: 1199px) {
    .vc-class-menu1 .menu-section ul {
        li a {
            font-size: 12px;
        }
        ul li a {
            padding: 10px 8px;
        }
    }
}

@media screen and (max-width: 992px) {
    .vc-class-menu1 {
        height: 40px;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 480px) {
    .vc-class-menu1 .mean-container .mean-bar {
        max-width: 100%;
    }
}