btn-download {
	border-radius: 0 !important;
}

btn-yellow {
	background: $yellow;
    padding: 6px 12px 8px 12px;
    border-radius: 3px;
    color: #fff;
}

.btn-yellow {
	background: $yellow;
    padding: 6px 12px 8px 12px !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-weight: 500 !important;
}
