comment_css {
	#reply-title {
		font-size: 18px;
		color: $yellow;
	}
	.comment {
		list-style: none;
		margin: 23px 0px;
		font-family: SegoeUI;
		.comment-body {
			margin-left: 0px;
			p {
				margin: 0;
			}
		}
		.comment-meta {
			clear: both;
			margin-left: 62px;
			margin-bottom: 13px;
		}
		.reply {
			margin-left: 62px;
			a {
				color: $red;
			}
		}
		.comment-author {
			font-size: 19px;
		    color: #000;
		    font-family: segoe;
		    float: left;
		    margin-right: 15px;
		    .author {
		    	font-style: normal;
		    	font-weight: 600;
		    }
		    img {
		    	margin-bottom: 0 !important;
	    	    margin-right: 15px;
		    }
		}
		.comment-date {
			font-weight: 400;
			font-size: 15px;
			line-height: 45px;
			color: #cccccc;
		}
		.comment-content {
			margin-left: 62px;
		}
		.says {
			display: none;
		}
	}
	#commentform {
		font-family: SegoeUI;
		font-size: 15px;
		input {
			border-radius: 0 !important;
		} 
		textarea {
			border-radius: 0 !important;
		}
		.comment-form-comment {
			textarea {
				font-size: 17px;
				width: 100%;
				margin-bottom: 15px; 
				height: 100px;
			}
		}
	}
	.form-submit {
		#submit {
			border-radius: 0;
			background-color: $yellow-strong;
			color: #fff;
			&.displayblock {
				display: block;
			}
		}
	}
	.comment-notes {
		display: none;
	}
	.checkmail-group {
		margin-bottom: 10px;
		font-size: 14px;
		color: #ccc;
	}
}