.paginate{
	text-align: center;
    margin-bottom: 10px;

	.current{
		padding: 4px 10px 4px 10px;
	    background: #b7b7b7;
	    border-radius: 4px;
	    color: black;
	}

	a{
		padding: 4px 10px 4px 10px;
		background:#e1e1e1;
		border-radius: 4px;
		color: black;
	}
}

.breadcrumbs {
    background: #fff;
    padding: 5px 15px;
    span {
	    color: #000;
	    font-size: 15px;
	    font-weight: 600;
	}
	a {
		color: #000;
	    font-size: 15px;
	    font-weight: 600;
	}
}
