footer{
	background: #252525;
	border-top: 5px solid #ed1c24;
	.footer-menu{
		// padding: 2vh 0.5vw;
	 //    display: -ms-flexbox;
	 //    -ms-flex-wrap: nowrap;
	 //    -ms-flex-direction: column;
	 //    -webkit-box-orient: horizontal;
	 //    -webkit-box-direction: normal;
	 //    -ms-flex-flow: row nowrap;
	 //    flex-flow: row nowrap;
	 //    display: -webkit-box;
	 //    display: flex;
	padding-top: 20px;
    padding-bottom: 20px;

		.recomm.col-md-3{
		    // -webkit-box-flex: auto;
		    // -ms-flex: auto;
		    // flex: auto;
		    // margin: 0.5vw;
		    // padding: 0;

		    max-width: 20%;

		    .widget-title{
		    	color: #fff;
		    	font-size: 14px;
		    	text-transform: uppercase;
		    	font-family: 'OpenSans-Bold';
		    }

		    ul{
		    	padding-left:0px;
		    	list-style: none;

		    	li{
		    		a{
		    			color: #fff;
		    			font-size: 14px;
		    		}
		    	}
		    }

		    .wpcf7-form{
		    	.form-group{
		    		span{
		    			input{
		    				width: 100%;
		    				border: none;
   						 	height: 30px;
		    			}

		    			input,
							input::-webkit-input-placeholder {
							    font-size: 11px;
								color: #b8b8b8;
								font-family: OpenSans-Regular;
								line-height: normal;
								padding-left: 4px;
							}
		    		}
		    	}

		    	.submint-footer{
		    		input{
		    			background:#f59c00;
		    			border:none;
		    			font-size: 11px;
		    			font-family: OpenSans-Regular;
		    			color: #fff;
		    			padding: 8px;
		    		}
		    	}
		    }
		}

		.widget_a2a_follow_widget{
			.addtoany_list{
				a{
					span{
						width: 40px;
					    height: 40px;
					    border-radius: 100%;
					}
				}
			}
		}
	}

	.copy-right{
		text-align: center;
		color: #fff;
		border-top: 1px solid #cccccc;
    	padding: 15px 0px 1px 0px;
	}
}