.list-tailieu {
	margin-top: 20px;
}

.folder-tailieu{
	margin-top: 35px;
    padding-bottom: 25px !important;
    
	.parent_cat{
		background: #fff;
		.images_parent_cat{
			padding: 50px 0px 35px 20px;

			a{
				img{
					max-width: 90%;
					@extend center-block;
				}
			}
		}

		.name_parent_cat{
			padding: 10px 0px 10px 20px;
    		border-top: 1px solid black;

    		a{
    			p{
    				margin-bottom: 0px;
    				color: #000000;
    				font-size: 11.72px;
    			}

    			.count_post{
    				color: #5a85d5;
    			}
    		}
		}
	}
}