.info-payment {
	.col-md-6 {
		&:first-child {
		    background: #fff;
		    padding-top: 15px;
		    margin: 20px 0 0 0;
		    padding-bottom: 15px;
		    .form-group {
		    	input {
				    border: 1px solid #e1e1e1;
				    @include border-radius( 0 );
				}
				.control-label {
				    color: #000;
				    font-weight: bold;
				    line-height: 2;
				    font-family: opensan;
				}
				&:last-child {
					text-align: center;
				}
				button {
				    color: #fff;
				    background: #f59c00;
				    border: none;
				    @include border-radius( 0 );
				}
		    }
		}
		&:nth-child(2) {
			padding-right: 0;
		}
	}
}

.link-history {
    text-align: center;
    background: #ffffff;
    padding: 10px 0;
    margin: 20px 0;
    span {
	    color: #000000;
	    font-weight: bold;
	    font-family: opensan-bold;
	    margin-right: 20px;
	}
}

.value-payment {
    background: #fff;
    padding: 0;
    th {
	    text-align: center;
	    background: #00a651;
	    color: #fff;
	}
}

.info-payment-ask {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.count-comment {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}


