.search_download{
	.container{
		margin-bottom: 25px;

		.images_search{
			position: relative;
			background: #fff;
    		padding: 31px 63px 30px 60px;
			.icon-topic{
				position: absolute;
				top: 10px;
    			left: 15px;
			}

			.avatar-item{
				background-size: cover;
			    height: auto;
			    background-position: 50%;
			}
		}

		.content{
			.title{
				font-family: 'OpenSans-Bold';
				font-size: 17px;
			}

			.download_count{
				margin-left: 5px;
			}
		}
	}
}

.result_search{
	border-bottom: 3px solid $red;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-bottom: 5px;
	font-size:20px;
	font-family: 'OpenSans-Bold';
	color:black;
}

.alert-warning{
	border-bottom: 3px solid $red;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-bottom: 5px;
	font-size:20px;
	font-family: 'OpenSans-Bold';
	color:black;
}