article.type-wpdmpro {
	margin-top: 15px;
}
.postmatic-tooltip {
	color: #ccc;
}
.template-vicoders {
	.detail-base {
		min-height: 230px;
		.img-area {
			border: 1px solid #000;
			padding: 20px;
			background-color: #fff;
		    max-height: 240px;
			@extend item;
			.avatar-item {
				margin-bottom: 0;
			}
		}
		.title {
			font-weight: 600;
		}
		.view-down-group {
			margin-bottom: 20px;
		}
		.price-group {
			// margin-bottom: 20px;
		}
		.description {
			font-size: 14px;
		}
		.btn-download {
			margin-top: 20px;
			.btn {
				@extend btn-download;
			}
			#enoughmoney {
				.modal-dialog {
					margin: 30vh auto;
				}
			}
			#poormoney {
				.modal-dialog {
					margin: 30vh auto;
				}
			}
			.button-check {
				margin-top: 15px;
				margin-bottom: 10px;
			}
			.notify-text {
				font-weight: 600;
				font-size: 14px;
				font-family: OpenSans-Bold;
			}
		}
	}
	.detail-extend {
		position: relative;
		.doc-preview {
			position: relative;
			iframe {
				margin-top: 35px;
			}
			.layout {
				position: absolute;
				width: 100%;
				top: 0;
				right: 0;
				height: 50%;
    			min-height: 200px;
			}
		}
	}
}
.package-section {
	font-family: OpenSans-Regular;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	.widget {
		h2.widget-title {
			display: none;
		}
	}
	.white-bg {
		text-align: center;
		color: #000;
		background-color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	    font-size: 15px;
		p {
			margin-bottom: 1px;
		}
	}
	.price {
		font-size: 20px;
		font-weight: bold;
	}
	.block-1 {
		color: #fff;
		.yellow-1-bg {
			background-color: #c8a925;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.yellow-2-bg {
			background-color: #f3c500;
			font-size: 28px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: OpenSans-Bold;
		    font-weight: bold;
		}
		.yellow-3-bg {
			background-color: #f59c00;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			p {
				margin-bottom: 1px;
			}
		}
	}
	.block-2 {
		color: #fff;
		.green-1-bg {
			background-color: #4da075;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.green-2-bg {
			background-color: #3cb878;
			font-size: 28px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: OpenSans-Bold;
		    font-weight: bold;
		}
		.green-3-bg {
			background-color: #8dc63f;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			p {
				margin-bottom: 1px;
			}
		}
	}
	.block-3 {
		color: #fff;
		.blue-1-bg {
			background-color: #38a29e;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.blue-2-bg {
			background-color: #1cbbb4;
			font-size: 28px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: OpenSans-Bold;
		    font-weight: bold;
		}
		.blue-3-bg {
			background-color: #00bff3;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			p {
				margin-bottom: 1px;
			}
		}
	}
}
.comments {
	background-color: #fff;
	padding: 15px;
	.question-answer {
		@extend comment_css;
	}
}