.wrapper-editprofile {
    color: #000 !important;
    .fix-height-30 {
        height: 30px;
    }
    .table {
        tr {
            td:first-child {
                width: 30%;
            }
        }
    }
    .result-save {
        .alert-success {
            background: #d4edda !important;
        }
    }
}