.transaction-section {
	.h3-title {
		font-size: 25px;
		font-weight: 600;
	}
	.user_login {
		font-size: 25px;
		color: $red;
	}
	.table {
		margin-top: 15px;
		.thead {
			tr {
				th {
					background-color: #f59c00; 
					text-align: center;
					font-size: 12px;
					color: #fff;
				}
			}
		}
	}
	@extend table-responsive;
}