@media screen and (max-width: 1200px) {
	.wap.container {
	    height: 65vh;
	}
}

@media screen and (max-width: 1200px)  and (min-width: 1024px){
	.header-section {
		.logo {
			display: block;
		    margin-left: auto !important;
		    margin-right: auto !important;
		    margin-bottom: 20px;
		}
	}
	.search {
		.item-search {
			.search-form {
				.search-field {
					margin-bottom: 20px;
				}
			}
		}
	}
	.login-resgiter {
		display: block;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
}