@media only screen and (max-width: 1200px) and (min-width: 768px) {
	.search {
	    width: 100% !important;
	    -ms-flex: 0 0 41.666667% !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}
}