@media only screen and (max-width:991px) and (min-width: 663px){
	// .product_detail{
		.sidebar-section{
			-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    .relation-file{
				.item.row{
					width: 50%;
	    			float: right;
				}
			}
		}
	// }	
}