@media(max-width:575px){
	// .list-item{
	// 	.recomm-homepage{
	// 		.images-item{
	// 			padding: 30px 50px 30px 50px;
	// 		}
	// 	}
	// }

	.login-resgiter{
		.information{
			.info-user{
				width: 50%;
			}

			.load-card{
				width: 50%;
			}
		}
	}
}

@media(max-width:425px){
	.content-info{
		.container{
			.footer-menu{
				text-align: center;

				.footer_1{
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 25px;
				}

				.footer_2{
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 25px;
				}

				.footer_3{
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 25px;
				}

				.footer_4{
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 25px;
				}

				.footer_5{
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 25px;
				}
			}
		}
	}
}