@media(max-width:425px){
	// .pad-l-0-i{
	// 	padding-right: 0px;
	// }

	.package-section{
		.widget_blockpackagepromo-widget{
			margin-top: 20px;
		}
	}

	.sidebar-section{
		margin-top: 20px;

		.relation-file{
			.item{
				.img-area{
					text-align: center;

					.icon-topic{
						width: unset;
					}
				}
			}
		}
	}

	.login-section{
		.be-member{
			.col-8{
				// -ms-flex: 0 0 100%;
			 //    flex: 0 0 100%;
			 //    max-width: 100%;
			}
		}
	}

	.signup-section{
		.be-member{
			.col-8{
				// -ms-flex: 0 0 100%;
			 //    flex: 0 0 100%;
			 //    max-width: 100%;
			}
		}
	}

	.banner{
		.container{
			padding-right: 0px;
    		padding-left: 0px;
		}
	}

	.sidebar-section{
		.relation-file{
			.item.row{
				.title-package.col-sm-9{
					min-height:90px !important;
				}
			}
		}
	}
}


@media(max-width:320px){
	.product_detail{
		.detail-base{
			.img-area.col-sm-3{
			    // -ms-flex: 0 0 100% !important;
			    // flex: 0 0 100% !important;
			    // max-width: 100% !important;
			}

			.col-sm-9{
				// -ms-flex: 0 0 100% !important;
			 //    flex: 0 0 100% !important;
			 //    max-width: 100% !important;
			}
		}

		.relation-file{
			.item.row{
			    width: 100% !important;
    			float: none !important;

    			.title-package.col-sm-9{
    				min-height: auto !important;
    			}
			}
		}
	}
}