@media screen and (max-width: 663px) {
    .sidebar-section {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        .title {}
        .relation-file {
            .item {
            	.img-area {
    				.icon-topic {
    					width: 30px !important;
    				}
    				.avatar-item {
    					// width: calc(100% - 30px);
    				}
    			}
                .title-package {
                    .title-wrap {
                        height: 50px;
                        max-height: 55px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}