@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriad-pro-regular.otf');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: 'SegoeBold';
    src: url('../fonts/segoe/segoeuib.ttf');
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/segoe/segoeui.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'SailRegular';
    src: url('../fonts/Sail-Regular.ttf');
}

body {
    font-family: OpenSans-Regular;
}

a {
    font-family: OpenSans-Regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
td {
    font-family: OpenSans-Regular;
}

span,
p {
    font-family: OpenSans-Regular;
}

a,
button,
img,
div,
span,
p,
a:focus,
a:active,
a:visited,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
img {
    outline: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: $blacktag_a;
}

input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    @include box-shadow(none !important);
}

img {
    max-width: 100%;
}

.fix-container {
    width: 900px;
    margin: auto;
}

.banner {
    /*overflow: hidden;*/
    img {
        width: 100%;
    }
}

.page-banner {
    max-height: 300px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

// #back-to-top {
//     background: $red;
//     bottom: 69px;
//     cursor: pointer;
//     display: none;
//     position: fixed;
//     right: 23px;
//     z-index: 99;
//     line-height: 45px;
//     width: 45px;
//     text-align: center;
//     font-size: 20px;
//     @include border-radius( 50%);
//     .fa {
//         color: #ffffff;
//     }
// }
.click-none {
    display: none !important;
}

.click-block {
    display: block !important;
    @include animation( 0.3s ease 0s normal none 1 running fadeIn);
}


.views-field-title {
    margin: 30px 0;
    position: relative;
    text-align: center;

    .field-content h3 {
        background: #fff none repeat scroll 0 0;
        display: inline-block;
        font-size: 36px;
        margin: 0;
        padding: 0 20px;
        position: relative;
        z-index: 7;
    }

    &::after {
        background: #000000 none repeat scroll 0 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: 50%;
        @include transform( translateY(-50%));
        width: 100%;
        z-index: 1;
    }
}

.views-field-body .field-content {
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;

    a {
        color: #000;
    }
}



/*@extend background-cover;*/

background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}





/*@extend effect-top;*/

effect-top {
    @include transition( all 0.5s ease 0s);
    display: block;

    &:hover {
        @include transform( translateY(-30px));
    }
}




/*@extend effect-zoom;*/

effect-zoom {
    @include transition( all 0.5s ease 0s);
    display: block;

    &:hover {
        @include transform( scale(1.1,
        1.1));
    }
}




/*@extend scale-image;*/

scale-image {
    @include transition( all 0.5s ease 0s);

    &:hover {
        @include transform( scale(1.2,
        1.2));
    }
}

btn-more {
    margin-top: 15px;
    background-color: $red;
    border-radius: unset;
    color: #fff;
}

.borderless {
    td {
        border: none !important;
    }
}

.pad-l-0 {
    padding-left: 0px;
}

.pad-r-0 {
    padding-right: 0px;
}

.pad-t-0 {
    padding-top: 0px;
}

.pad-bt-0 {
    padding-bottom: 0px;
}

.pad-l-0-i {
    padding-left: 0px !important;
}

.pad-r-0-i {
    padding-right: 0px !important;
}

.pad-t-0-i {
    padding-top: 0px !important;
}

.pad-bt-0-i {
    padding-bottom: 0px !important;
}

.mgr-l-0 {
    margin-left: 0px;
}

.mgr-r-0 {
    margin-right: 0px;
}

.mgr-t-0 {
    margin-top: 0px;
}

.mgr-bt-0 {
    margin-bottom: 0px;
}

.mgr-l-0-i {
    margin-left: 0px !important;
}

.mgr-r-0-i {
    margin-right: 0px !important;
}

.mgr-t-0-i {
    margin-top: 0px !important;
}

.mgr-bt-0-i {
    margin-bottom: 0px !important;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.theme-background-color {
    background-color: $red !important;
}

#lang_sel_list {
    ul {
        li {
            &:focus {
                outline: none;
            }
            &:hover {
                outline: none;
                a {
                    background: none;
                    color: #fff;
                }
            }
            a {
                background: none;
                color: #fff;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.icl-st-original {
    img {
        width: 20px;
    }
}

.text-red {
    color: #ff0000 !important;
}

.hover-red {
    &:hover {
        color: $red;
    }
}

.text-white {
    color: #fff !important;
}

.table-noborder {
    td,
    .td {
        border-top: none !important;
    }
}

.table-center {
    th,
    td {
        text-align: center !important;
    }
}

.h3-title {
    font-size: 25px;
    font-weight: 600;
}

.h4-title {
    font-size: 20px;
    font-weight: 600;
}

.link-color {
    color: #4272c6;
}

.clearfix {
    clear: both;
}

.hide {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.nomalcase {
    text-transform: inherit;
}

.white-block {
    background-color: #fff;
}

.preload-handle-payment {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
    color: #fff;
    margin: auto;
    .wrapper-load {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 27px;
        left: 0;
        right: 0;
    }
}

.w3eden .alert.alert-danger {
    border: 1px solid #e74c3c;
}

#back-to-top {
    background: $red;
    bottom: 70px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 23px;
    z-index: 99;
    line-height: 45px;
    width: 45px;
    text-align: center;
    font-size: 20px;
    @include border-radius( 50%);

    .fa {
        color: #ffffff;
    }
}

.phone-support {
    display: block;
    position: fixed;
    top: 40%;
    left: calc(100% - 132px);
    padding: 5px 15px;
    background-color: #f59c00;
    width: 230px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 999999;
    @include rotate(90deg);
    .phone-wrap {
        a {
            color: #fff;
        }
    }
}

.phone-support-mobile {
    display: none;
}
@media only screen and (max-width: 480px) {
    .phone-support {
        display: none;
    }
    .phone-support-mobile {
        display: block;
        position: fixed;
        top: 70%;
        left: calc(100% - 70px);
        padding: 10px 15px;
        background-color: #f59c00;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: 999999;
        .phone-wrap {
            a {
                color: #fff;
            }
        }
    }
}

.btn-fb-dialog {
    display: block;
    background-color: $red;
    border-color: transparent !important;
    &:hover, &:focus, &:active, &:visited {
        background-color: $red;
        border-color: transparent !important;
        outline: 0;
        box-shadow: none;
    }
}

.btn-fb-dialog-mobile {
    display: none;
}
@media only screen and (max-width: 480px) {
    .btn-fb-dialog {
        display: none !important;
    }
    .btn-fb-dialog-mobile {
        display: block;
        background-color: $red;
        border-color: transparent !important;
        position: fixed; 
        bottom: 15px;
        left: calc(100% - 68px);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        text-align: center;
        &:hover, &:focus, &:active, &:visited {
            background-color: $red;
            border-color: transparent !important;
            outline: 0;
            box-shadow: none;
        }
    }
}

.fw-600 {
    font-weight: 600;
}

.opensan {
    font-family: OpenSans-Regular !important;
}

.opensan-b {
    font-family: OpenSans-Bold !important;
}

.center-block {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

center-block {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

table-responsive {
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }
    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }
    table tr {
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }
    table th,
    table td {
        padding: .625em;
        text-align: center;
    }
    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }
        table caption {
            font-size: 1.3em;
        }
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }
        table td:before {
            /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
        table td:last-child {
            border-bottom: 0;
        }
    }
}

table.aligncenter {
    border: 0;
    td {
        border: 1px solid #000;
        text-align: center;
    }
}

@media only screen and (max-width: 663px) {
    .pad-l-0-mobile {
        padding-left: 0;
    }
    .pad-r-0-mobile {
        padding-right: 0;
    }
    .pad-l-0-mobile-i {
        padding-left: 0 !important;
    }
    .pad-r-0-mobile-i {
        padding-right: 0 !important;
    }
}

@media (min-width: 576px) and (max-width: 668px){
    .container {
        max-width: 610px;
    }
}