@media(max-width:768px){
	.content-info{
		.container{
			.footer-menu{
				.footer_1{
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
				}

				.footer_2{
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
				}

				.footer_3{
					flex: 0 0 33.333333%;
					max-width: 33.333333%;
				}

				.footer_4{
					flex: 0 0 50%;
					max-width: 50%;
					text-align: center;
   	 				margin-top: 20px;
				}

				.footer_5{
					flex: 0 0 50%;
					max-width: 50%;
					margin-top: 20px;
				}
			}
		}
	}
}

@media(max-width:767px){
	
}