@media screen and (min-width: 480px) and (max-width:991px){
	.product_detail{
		.col-md-9.pad-l-0-i{
			// -ms-flex: 0 0 100%;
		 //    flex: 0 0 100%;
		 //    max-width: 100%;
		 //    padding-right:0px;
		}

		.package-section{
			.white-bg{
				min-height: 210px;
			}
		}
	}	
}

@media only screen and (max-width:768px) and (min-width: 480px){
	.product_detail{
		.detail-top {
			-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		}
		.detail-base{
			.img-area {
				width: 30%;
				flex: 0 0 30%;
    			float: left;
			}
			.info-pack {
				width: 64%;
			    flex: 0 0 65%;
			    margin-left: 20px;
			}
		}

		.package-section{
			.col-sm-4{
				// -ms-flex: 0 0 100%;
			 //    flex: 0 0 100%;
			 //    max-width: 100%;
				// margin-top:20px;
			}

			.white-bg{
				min-height: 110px;
			}
		}

		.sidebar-section{
			.relation-file{
				.item.row{
					.img-area{
						// -ms-flex: 0 0 95%;
					 //    flex: 0 0 95%;
					 //    max-width: 95%;
					 //    padding: 10px 55px 10px 55px;
					}

					.title-package.col-sm-9{
						-ms-flex: 0 0 95%;
					    flex: 0 0 95%;
					    max-width: 95%;
					    min-height: 70px;
					}
				}
			}
		}
	}
}